<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>Myths of Angular 2</title>

		<link rel="stylesheet" href="node_modules/reveal.js/css/reveal.css">
		<link rel="stylesheet" href="node_modules/reveal.js/css/theme/league.css">
		<link rel="stylesheet" href="styles.css">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="node_modules/reveal.js/lib/css/zenburn.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'node_modules/reveal.js/css/print/pdf.css' : 'node_modules/reveal.js/css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>
	</head>
	<body>
		<div class="reveal">
			<div class="slides">

                <section id="title" data-background="/assets/img/angular-bigfoot.png">
                    <div class="bg-img">
                    <h1 class="bg-img">Myths of Angular 2</h1>
                    <h2 class="bg-img">What Angular Really Is</h2>
                    <p class="">
                        John Niedzwiecki
                    </p>
                    </div>
                </section>

                <section id="about-me">
                    <h2>About the Geek</h2>
                    <pre class="small-code"><code>function getDeveloperInfo() {
    let dev = {
        name: 'John Niedzwiecki',
        company: 'ThreatTrack',
        role: 'Lead Software Engineer - UI',
        twitter: '@rhgeek',
        github: 'rhgeek',
        web: 'https://rhgeek.github.io',
        currentDevLoves: ['Angular', 'JavaScript Everywhere', 'd3', 'CSS instead of JS'],
        nonDevAttr : {
            isHusband: true,
            isFather: true,
            hobbies: ['running', 'disney', 'cooking', 'video games', 'photography'],
            twitter: '@rgrdisney',
            web: 'http://www.rungeekrundisney.com',
        }
    };
    return dev;
}</code></pre>
                </section>

                <section id="abstract">
                    <h2>Why We're Here</h2>
                    <p class="text-left">
                        <img src="/assets/img/angular.png" class="angular-logo" alt="Angular" title="Angular" />
                        At ng-Europe in 2014, the Angular team showed off Angular 2. Unfortunately, the drastic changes were not received well by many. 
                        While things have changed since that announcement during the development of Angular 2, many people remember the things said there instead of what was actually done (damn first impressions).
                    </p>
                </section>

                <section id="outline">
                    <h2>What We'll Do</h2>
                    <ul>
                        <li>What is Angular?</li>
                        <li>Version Soup</li>
                        <li>Mythbusting</li>
                        <li>Why Angular?</li>
                    </ul>
                </section>

                <section id="topic-what-is-angular">
                    <section id="what-is-angular">
                        <h1 class="section-title">What is Angular?</h1>
                    </section>

                    <section id="what-quote">
                        <h2>What is Angular?</h2>
                        <blockquote cite="https://github.com/angular/angular">
                            &ldquo;Angular is a development platform for building mobile and desktop web applications.&rdquo;
                        </blockquote>
                        <p class="text-right">
                            <a href="https://github.com/angular/angular"><small>https://github.com/angular/angular</small></a>
                        </p>
                        <aside class="notes">
                            Opinionated framework for building SPA. Centered around web components, but gives you everything you need for the full application.<br />
                            Align with latest web standards, simple, fast, work for mobile (and beyond IoT nuero)
                        </aside>
                    </section>

                    <section id="what-component-observable">
                        <h2>Component</h2>
<pre><code>/* /theme-parks/theme-parks-list/theme-parks-list.component.ts */
import { Component, OnInit } from '@angular/core';
import { Observable } from 'rxjs/Rx';
import { ParksService, ThemeParkGroup } from '../../shared';

@Component({
  selector: 'app-theme-parks-list',
  templateUrl: './theme-parks-list.component.html',
  styleUrls: ['./theme-parks-list.component.css']
})
export class ThemeParksListComponent implements OnInit {

  themeParks: Observable< ThemeParkGroup[] >;

  constructor(
    private parksService: ParksService
  ) { }

  ngOnInit() {
    this.themeParks = this.parksService.getParks();
  }
}
</code></pre>
                        <p class="text-right">
                            <small>Code: <a href="https://github.com/RHGeek/mythbusters-angular" title="code examples">https://github.com/RHGeek/mythbusters-angular</a></small>
                        </p>
                    </section>

                    <section id="what-component-observable-html">
                        <h2>Component Template</h2>
<pre><code>
<div *ngFor="let group of themeParks | async">
  <h2><a routerLink="../details/{{group.id}}">{{group.company}}</a></h2>
  <div>
    Location: {{group.location}}
  </div>
  <div>
    # of Parks: {{group.parks.length}}
  </div>
</div>
</code></pre>
                    </section>
                    
                    <section id="what-component-subscribe-deactivate">
                        <h2>Component</h2>
<pre><code>/* /theme-parks/theme-park-details/theme-park-details.component.ts */
import { Component, OnInit } from '@angular/core';
import { ActivatedRoute, Params, Router } from '@angular/router';
import { ParksService, ThemePark } from '../../shared';

@Component({
  selector: 'app-theme-park-details',
  templateUrl: './theme-park-details.component.html',
  styleUrls: ['./theme-park-details.component.css']
})
export class ThemeParkDetailsComponent implements OnInit {

  themePark: ThemePark;

  constructor(
    private route: ActivatedRoute,
    private parksService: ParksService
  ) { }

  canDeactivate(): Promise< boolean > | boolean {
    return new Promise< boolean >(resolve => {
      return resolve(window.confirm('Are you sure you\'re ready to leave the park?'));
    });
  }

  ngOnInit() {
    this.route.params
      .switchMap((params: Params) => this.parksService.getParkDetails(params['parkId']))
      .subscribe(
        (park: ThemePark) => {
          this.themePark = park;
        },
        error => {
          /* do error stuff here if you must */
        });
  }

}
</code></pre>
                    </section>

                    <section id="what-component-observable-html">
                        <h2>Component Template</h2>
<pre><code>
<a routerLink="/parks/list" class="link--back"><small>back</small></a>
<div class="park-card">
  <h2>{{themePark?.company}}</h2>
  <div>
    Location: {{themePark?.location}}
  </div>
  <div>
    Parks:
    <ul>
      <li *ngFor="let park of themePark?.parks">{{park.name}}</li>
    </ul>

  </div>
</div>
</code></pre>
                    </section>

                    <section id="what-services">
                        <h2>Services</h2>
<pre><code>/* /shared/parks.service.ts */
import { Injectable } from '@angular/core';
import { Http } from '@angular/http';
import { Observable } from 'rxjs/Rx';
import { ThemePark } from './theme-park.model';
import { ThemeParkGroup } from './theme-park-group.model';

@Injectable()
export class ParksService {

  constructor(private http: Http) { }

  getParks(): Observable< ThemeParkGroup[] > {
    let url: string = `/api/parks/list`;
    return this.http.get(url)
            .map(response => response.json() as ThemeParkGroup[])
            .catch(this.handleError);
  }

  getParkDetails(parkId: string): Observable< ThemePark > {
    let url: string = `/api/parks/${parkId}`;
    return this.http.get(url)
            .map(response => response.json() as ThemePark)
            .catch(this.handleError);
  }

  private handleError(error: any): Observable<any> {
      console.error('An error occurred', error);
      return Observable.throw(error.message || error);
  }
}
</code></pre>
                    </section>

                    <section id="what-routing">
                        <h2>Improved Routing</h2>
<pre><code>/* /app-routing.module.ts */
import { NgModule }             from '@angular/core';
import { Routes, RouterModule } from '@angular/router';
import { CanDeactivateGuard } from './guards/';
import { ThemeParksComponent } from './theme-parks/theme-parks.component';
import { ThemeParksListComponent } from './theme-parks/theme-parks-list/theme-parks-list.component';
import { ThemeParkDetailsComponent } from './theme-parks/theme-park-details/theme-park-details.component';

const routes: Routes = [
    { path: '', redirectTo: 'parks', pathMatch: 'full' },
    { path: 'parks', component: ThemeParksComponent,
        children: [
            { path: '', redirectTo: 'list', pathMatch: 'full' },
            { path: 'list', component: ThemeParksListComponent },
            { path: 'details/:parkId', component: ThemeParkDetailsComponent, canDeactivate: [ CanDeactivateGuard ] }
        ]
    },
    { path: 'about', loadChildren: 'app/about/about.module#AboutModule' }
];

@NgModule({
    imports: [ RouterModule.forRoot(routes) ],
    exports: [ RouterModule ],
    providers: [
        CanDeactivateGuard
    ]
})
export class AppRoutingModule { }
</code></pre>
                    </section>

                    <section id="what-child-outlets">
                        <h2>Child Outlets</h2>
<pre><code>/* /theme-parks.component.html */
<h1>{{greeting}}</h1>
<router-outlet></router-outlet>
</code></pre>
                    </section>

                    <section id="what-modules">
                        <h2>Lazy Loading Modules</h2>
<pre><code>/* from previous routing code */
{ path: 'about', loadChildren: 'app/about/about.module#AboutModule' }

/* /about/about.module.ts */
import { NgModule } from '@angular/core';
import { CommonModule }   from '@angular/common';
import { AboutComponent } from './about.component';
import { AboutRoutingModule } from './about-routing.module';

@NgModule({
  declarations: [
    AboutComponent
  ],
  imports: [
    CommonModule,
    AboutRoutingModule
  ]
})
export class AboutModule { }

/* /about/about-routing.module.ts */
import { NgModule }             from '@angular/core';
import { Routes, RouterModule } from '@angular/router';
import { AboutComponent } from './about.component';

const routes: Routes = [
    { path: '', component: AboutComponent }
];

@NgModule({
    imports: [ RouterModule.forChild(routes) ],
    exports: [ RouterModule ]
})
export class AboutRoutingModule { }
</code></pre>
                    </section>

                    <section id="lets-see-it">
                        <h2>Let's see it</h2>
                        <a href="http://localhost:4200/" target="_blank">http://localhost:4200/</a>
                    </section>

                    <section id="angular-or-angularjs">
                        <h2>Angular or AngularJS?</h2>
                        <p class="fragment">
                            AngularJS == 1.x
                        </p>
                        <p class="fragment">
                            Angular == 2, 4, 6, 8...<br/>
                            who do we appreciate?<br />
                            <span class="fragment">
                                also may see things like ng2 or ngx
                            </span>
                        </p>
                        <p class="fragment spaced">
                            <a href="#/topic-version-soup"><em>speaking of Angular 2 and Angular 4...</em></a>
                        </p>
                    </section>
                </section>

                <section id="topic-version-soup">
                    <section id="semantic-versioning">
                        <h1 class="section-title">Semantic Versioning</h1>
                    </section>

                    <section id="semantic-versioning">
                        <h2>Semantic Versioning</h2>
                        <p>
                            With new Angular release, the team announced the switch to Semantic Versioning (SEMVER).
                        </p>
                        <p>
                            <img src="/assets/img/semver.png" title="semantic versioning" />
                        </p>
                    </section>

                    <section id="semantic-whats-for-you">
                        <h2>What does it mean for you?</h2>
                        <ul>
                            <li>Future changes in a predictable way.</li>
                            <li>Time based release cycles.</li>
                            <li>Patch release each week, ~3 minor updates, and one major update every 6 months.</li>
                        </ul>
                    </section>

                    <section id="semantic-whats-for-you-2">
                        <h2>Breaking changes?</h2>
                        <p>
                            Angular 1 to Angular 2 was a complete rewrite. 
                            Angular jumped from version 2 to 4 to align the core packages versions (Angular's router was already version 3). 
                            Future major updates will be more standard "breaking changes" with proper documented deprecation phases.
                        </p>
                        <aside class="notes">
                            For example, in Angular 4, template is deprecated in favor of ng-template and all animations from core are now in a new experimental (read: non-stable) package. 
                        </aside>
                    </section>

                    <section id="semantic-just-angular">
                        <h2>Just Angular</h2>
                        <p>
                            From here on, it's just <span class="fragment highlight-red">#angular</span>.
                        </p>
                    </section>

                </section>

                <section id="topic-evergreen">
                    <section id="myth-evergreen-only">
                        <h1 class="f-mb section-title">MYTH: Evergreen Browsers Only</h1>
                    </section>

                    <section id="evergreen-designed-for-future">
                        <h2>"Designed for the Future"</h2>
                        <p>
                            Angular 2 was designed "targeting modern browsers and using ECMAScript 6". This meant only evergreen, auto-updating browswers.
                        </p>
                        <p class="text-right">
                            <a href="https://blog.angularjs.org/2014/03/angular-20.html"><small>Source</small></a>
                        </p>
                    </section>

                    <section id="evergreen-browser-support">
                        <h2>Browser Support and Polyfills</h2>
                        <p>
                            Angular supports most recent browsers, on both desktop and mobile.
                        </p>
                        <table class="small-table">
                            <thead>
                                <tr>
                                    <th>Chrome</th>
                                    <th>Firefox</th>
                                    <th>Edge</th>
                                    <th>IE</th>
                                    <th>Safari</th>
                                    <th>iOS</th>
                                    <th>Android</th>
                                    <th>IE mobile</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>latest</td>
                                    <td>latest</td>
                                    <td>14</td>
                                    <td>11</td>
                                    <td>10</td>
                                    <td>10</td>
                                    <td>Marshmallow (6.0)</td>
                                    <td>11</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>13</td>
                                    <td>10</td>
                                    <td>9</td>
                                    <td>9</td>
                                    <td>Lollipop (5.0, 5.1)</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>9</td>
                                    <td>8</td>
                                    <td>8</td>
                                    <td>KitKat (4.4)</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>7</td>
                                    <td>7</td>
                                    <td>Jelly Bean (4.1, 4.2, 4.3)</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                        <p class="text-right">
                            <a href="https://angular.io/docs/ts/latest/guide/browser-support.html"><small>Official Browser Support</small></a>
                        </p>
                    </section>

                     <section id="evergreen-browser-support-current">
                        <h2>Browser Support and Polyfills</h2>
                        <img src="/assets/img/current-browser-support-may-6.png" title="Browser support from CI" />
                        <p class="text-right">
                            <a href="https://github.com/angular/angular"><small>https://github.com/angular/angular</small></a>
                        </p>
                    </section>

                    <section id="evergreen-polyfills">
                        <h2>Browser Support and Polyfills</h2>
                        <p>
                            There's a challenge in supporting the larger range of browsers. They offer mandatory and optional polyfills, depending on the browsers you want to support.
                        </p>
                        <span class="fragment">
                            <p >
                                "Note that polyfills cannot magically transform an old, slow browser into a modern, fast one."
                            </p>
                            <p class="text-right">
                                <a href="https://angular.io/docs/ts/latest/guide/browser-support.html"><small>Source</small></a>
                            </p>
                        </span>
                        <aside class="notes">
                            Mandatory: ES6, ES6 classlist (IE9)<br />
                            None mandatory for Chrome, Firefox, Edge, Safari 9+<br />
                            Optional: annimations, intl API, classlist, typed array, blob, form data
                        </aside>
                    </section>

                    <section id="evergreen-polyfills-angular-cli">
                        <h2>Angular-CLI Provided polyfills.ts</h2>
<pre class="small-code"><code>
/**
 * This file includes polyfills needed by Angular and is loaded before the app.
 * You can add your own extra polyfills to this file.
 *
 * This file is divided into 2 sections:
 *   1. Browser polyfills. These are applied before loading ZoneJS and are sorted by browsers.
 *   2. Application imports. Files imported after ZoneJS that should be loaded before your main
 *      file.
 *
 * The current setup is for so-called "evergreen" browsers; the last versions of browsers that
 * automatically update themselves. This includes Safari >= 10, Chrome >= 55 (including Opera),
 * Edge >= 13 on the desktop, and iOS 10 and Chrome on mobile.
 *
 * Learn more in https://angular.io/docs/ts/latest/guide/browser-support.html
 */

/***************************************************************************************************
 * BROWSER POLYFILLS
 */

/** IE9, IE10 and IE11 requires all of the following polyfills. **/
import 'core-js/es6/symbol';
import 'core-js/es6/object';
import 'core-js/es6/function';
import 'core-js/es6/parse-int';
import 'core-js/es6/parse-float';
import 'core-js/es6/number';
import 'core-js/es6/math';
import 'core-js/es6/string';
import 'core-js/es6/date';
import 'core-js/es6/array';
import 'core-js/es6/regexp';
import 'core-js/es6/map';
import 'core-js/es6/set';

/** IE10 and IE11 requires the following for NgClass support on SVG elements */
import 'classlist.js';  // Run `npm install --save classlist.js`.

/** IE10 and IE11 requires the following to support `@angular/animation`. */
import 'web-animations-js';  // Run `npm install --save web-animations-js`.


/** Evergreen browsers require these. **/
import 'core-js/es6/reflect';
import 'core-js/es7/reflect';


/** ALL Firefox browsers require the following to support `@angular/animation`. **/
import 'web-animations-js';  // Run `npm install --save web-animations-js`.



/***************************************************************************************************
 * Zone JS is required by Angular itself.
 */
import 'zone.js/dist/zone';  // Included with Angular CLI.



/***************************************************************************************************
 * APPLICATION IMPORTS
 */

/**
 * Date, currency, decimal and percent pipes.
 * Needed for: All but Chrome, Firefox, Edge, IE11 and Safari 10
 */
import 'intl';  // Run `npm install --save intl`.
</code></pre>
                    </section>

                    <section id="myth-too-big-busted">
                        <h1 class="f-mb section-title">MYTH: Evergreen Browsers Only</h1>
                        <h1 class="f-mb fragment fade-up">&#0164;</h1>
                    </section>
                </section>

                <section id="topic-no-migration">
                    <section id="myth-no-migration">
                        <h1 class="f-mb section-title">MYTH: No Migration Path</h1>
                    </section>

                    <section id="migration-we-will-see">
                        <h2>"We Will See"</h2>
                        <p>
                            Initially, no path to migration was announced. 
                            The team's goal was the best framework to build a web app without worrying backwards compatibility with existing APIs. 
                        </p>
                        <p>
                            Obviously, people were less than happy for no concrete migration path.
                        </p>
                        <aside class="notes">
                            The most the offered was that the core concepts would be the same, carrying that knowledge forward.
                        </aside>
                    </section>

                    <section id="migration-prep">
                        <h2>Upgrading from AngularJS</h2>
                        <p>
                            Not only can you migrate an app, you can upgrade <em>incrementally</em>.
                        </p>
                        <ul>
                            <li>Follow Angular Style Guide</li>
                            <li>Use a module loader</li>
                            <li>Migrate to TypeScript</li>
                            <li>Use Component Directives</li>
                        </ul>
                        <aside class="notes">
                            There is some preparation needed, but if you follow the Angular Style guide, you're already on the right path.
                        </aside>
                    </section>

                    <section id="migration-upgrade">
                        <h2>The Upgrade Module</h2>
                        <p>
                            This module allows you to run AngularJS and Angular components in the same application and interoperate with each other seemlessly.
                        </p>
                        <p>
                            Actually runs both versions of Angular side by side, no emulation. Interoperate via dependency injection, the DOM, and change detection.
                        </p>
                        <p class="text-right">
                            <a href="https://angular.io/docs/ts/latest/guide/upgrade.html"><small>More information: NgUpgrade</small></a>
                        </p>
                    </section>

                    <section id="myth-too-big-busted">
                        <h1 class="f-mb section-title">MYTH: No Migration Path</h1>
                        <h1 class="f-mb fragment fade-up">&#0164;</h1>
                    </section>
                </section>

                <section id="topic-too-big">
                    <section id="myth-too-big">
                        <h1 class="f-mb section-title">MYTH: Base Angular App is HUGE</h1>
                    </section>

                    <section id="too-big-overheard">
                        <h2>Base Angular Libraries Make a Simple App Huge</h2>
                        <p>
                            After the release, I've heard many arguments about the size of Angular files. 
                            It often pops up in comparisions of Angular vs React. 
                            You would see the comparison of Angular 2’s minified version (566K) to React JS with add-ons, minified version (144K).
                        </p>
                        <p class="text-right">
                            <a href="http://blog.debugme.eu/react-vs-angular2/"><small>Min size comparisions</small></a>
                        </p>
                    </section>

                    <section id="too-big-aot">
                        <h2>Ahead of Time (AOT) Compilation</h2>
                        <p>
                            Non-issue for an Angular app thanks to AOT compilation. Angular built to take advantage of ES2015 module and tree shaking. 
                        </p>
                        <p>
                            Proof of concept Hello World can be made in just 29KB 
                        </p>
                        <p class="text-right">
                            <a href="https://www.lucidchart.com/techblog/2016/09/26/improving-angular-2-load-times/"><small>POC</small></a>
                        </p>
                        <aside class="notes">
                            Tree shaking is the process of removing unused code from the final bundle. Effective technique to reduce the footprint of an application. 
                        </aside>
                    </section>

                    <section id="too-big-aot-ng4">
                        <h2>Ahead of Time (AOT) Compilation</h2>
                        <p>
                            Angular 4 has made even larger improvements for AOT. The team has implemented a new View Engine to generate less code.
                        </p>
                        <p>
                            Two medium size apps improvement:<br />
                            from 499Kb to 187Kb (68Kb to 34Kb after gzip)<br />
                            from 192Kb to 82Kb (27Kb to 16Kb after gzip)
                        </p>
                        <p class="text-right">
                            <a href="http://blog.ninja-squad.com/2017/03/24/what-is-new-angular-4/"><small>App stats</small></a>
                        </p>
                    </section>

                    <section id="myth-too-big-busted">
                        <h1 class="f-mb section-title">MYTH: Base Angular App is HUGE</h1>
                        <h1 class="f-mb fragment fade-up">&#0164;</h1>
                    </section>
                </section>

                <section id="topic-why-angular">
                    <section id="why-angular">
                        <h2>Why Angular?</h2>
                    </section>

                    <section id="speed-performance">
                        <h2>Speed and Performance</h2>
                        <p>
                            I loved AngularJS, but there were performance issues (I'm looking at you dirty checking and digest cycles). 
                            Part of the reason for the rewrite for Angular 2 was to get things right, from the ground up. 
                        </p>
                        <p>
                            Faster checking of single bindings, improved change detection strategies, Immutables, Observables, use of zone.js, AOT compiling, lazy loading modules
                        </p>
                        <aside class="notes">
                            Immutable: If a component depends only on its input properties, and they are immutable, then this component can change if and only if one of its input properties changes.<br/>
                            Observable: If a component depends only on its input properties, and they are observable, then this component can change if and only if one of its input properties emits an event.<br />
                            https://vsavkin.com/change-detection-in-angular-2-4f216b855d4c
                        </aside>
                    </section>

                    <section id="anywhere">
                        <h2>Angular Anywhere</h2>
                        <ul>
                            <li>Mobile Web</li>
                            <li>Desktop Web</li>
                            <li>Mobile Native (Angular + NativeScript)</li>
                            <li>
                                Internet of Things (IoT)
                            </li>
                        </ul>
                        <aside class="notes">
                            Uri Shaked: experimental technology to program physical hardware (buttons, LEDs, etc.) using Angular 2. Set of directives, such as <iot-button> and <iot-led> to interface with hardware.<br />
                            Connect to other advanced JS: NeuroJavaScript (Alex Castillo) - visualize neurofeedback with OpenBCI
                        </aside>
                    </section>

                    <section id="universal" data-background="/assets/img/universal-harry-potter.jpg">
                        <h2>Universal</h2>
                        <p class="bg-img">
                            Universal is more than just a theme park with some awesome Harry Potter lands. 
                            It's also the name of the <em>official</em> package for server side rendering in Angular.
                        </p>
                        <p class="bg-img">
                            Server side rendering can be important to single page apps (SPA). Everyone knows it matters for search engine optimization. 
                            It's also great to ensure you get that nifty little preview on social media.
                        </p>
                    </section>
                    <section id="universal">
                        <h2>Angular Universal</h2>
                        <p>
                            It's also great for <em class="fragment highlight-blue">perceived</em> performance. 
                        </p>
                        <p>
                            Angular Universal lets you render your app on the server, give it to the user, preboot a div to record their actions, and then replay and swap out once the app is bootstrapped.
                        </p>
                        <p class="text-right">
                            <a href="https://universal.angular.io/"><small>https://universal.angular.io/</small></a>
                        </p>
                        <aside class="notes">
                            According to research at Google, the difference of just 200 milliseconds in page load performance has an impact on user behavior.
                        </aside>
                    </section>

                    <section id="typescript">
                        <h2><img src="/assets/img/typescript.png" class="no-style typescript" alt="TS" title="TS" />TypeScript: The thing you may be surprised to love</h2>
                        <p>
                            Frankly, I was worried about <em>needing</em> to use TypeScript going into Angular 2.
                        </p>
                        <p class="fragment">
                            Then I used it. 
                        </p>
                        <p class="fragment">
                            Now, I <img src="/assets/img/heart.png" class="no-style heart" alt="<3" title="<3" /> it.
                        </p>
                        <aside class="notes">
                            I love having simple interface and enforcing my types. It's also "helped" some younger members of my team write better JS code (because they had no choice).<br />
                            Superset of ES6, static types, comes with own great tooling, code is easier to understand (has made using other's components so easy)<br/>
                            Don't need to use TypeScript, but most example code you find, is.
                        </aside>
                    </section>

                    <section id="tooling">
                        <h2>Fantastic Tooling</h2>
                        <ul>
                            <li>Great IDE Integration</li>
                            <li>Great TypeScript tooling</li>
                            <li>AOT Compiling</li>
                            <li>Angular-CLI</li>
                        </ul>
                    </section>

                    <section id="angular-cli">
                        <h2>Angular-CLI</h2>
                        <p>
                            Amazing command line tool for Angular applications.
                        </p>
                        <p class="text-right">
                            <a href="https://cli.angular.io/"><small>https://cli.angular.io/</small></a>
                        </p>
                        <aside class="notes">
                            Easy app scaffolding, generation, proxys, tests, production builds
                        </aside>
                    </section>

                    <section id="community">
                        <h2>Community</h2>
                        <p>
                            Established community that has grown over many years.
                        </p>
                        <img src="/assets/img/hugs.gif" />
                        <aside class="notes">
                            Some large contributors to Angular were part of the community of AngularJS
                        </aside>
                    </section>
                </section>

                <section id="wrap-up">
                    <img src="/assets/img/connect-tech.png" class="no-style conf-logo-end" title="Connect.Tech" />
                    <p>
                        Find me: <span title="twitter and github">@rhgeek</span>
                    </p>
                    <p>
                        <a href="https://rhgeek.github.io/" title="dev blog">https://rhgeek.github.io/</a>
                    </p>
                    <p>
                        Code: <a href="https://github.com/RHGeek/mythbusters-angular" title="code examples">https://github.com/RHGeek/mythbusters-angular</a>
                    </p>
                </section>

			</div>
		</div>

		<script src="node_modules/reveal.js/lib/js/head.min.js"></script>
		<script src="node_modules/reveal.js/js/reveal.js"></script>

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				dependencies: [
					{ src: 'node_modules/reveal.js/plugin/markdown/marked.js' },
					{ src: 'node_modules/reveal.js/plugin/markdown/markdown.js' },
					{ src: 'node_modules/reveal.js/plugin/notes/notes.js', async: true },
					{ src: 'node_modules/reveal.js/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
				]
			});
		</script>
	</body>
</html>
