@font-face {
    font-family: 'MythBusters';
    src: url(/assests/font/MythBusters.ttf);
}

.f-mb {
    font-family: 'MythBusters' !important;
}

.reveal ul {
    list-style:none;
}

li:before {
    bottom: .1em;
    content: '@';
    font-family: 'MythBusters' !important;
    font-size: .75em;
    margin-right: 13px;
    position: relative;
}

pre.small-code {
    font-size: .4em;
}

p.spaced {
    margin: 30px 0;
}