a.link--back {
    color: #8f8f8f;
    display: block;
    margin-left: -10px;
}

h2 {
    color: white;
    margin-bottom: .5em;
    margin-top: 0;
}

.park-card {
    display: inline-block;
    margin: 20px 10px;
}

.fav-icon {
    cursor: pointer;
    float: right;
    font-size: .85em;
    margin-left: 1em;
}

.save {
    cursor: pointer;
    float: right;
    text-decoration: underline;
}